  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
  @import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

  body{
    background-color: rgb(0, 0, 0);
    overflow: hidden;
  }
  .accordion {
    background-color: rgb(26, 23, 23);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 10px;
    
  }

  .active, .accordion:hover {
    background-color:rgb(26, 23, 23);
  }

  .accordion:after {
    content: '\002B';
    color: rgb(99, 91, 91);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: rgb(77, 73, 70);
    overflow: hidden;
    overflow-x: hidden;
    transition: all;
}

  h2{
    color:whitesmoke;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    
    
    
  }

  button{
      font-family: 'Montserrat', sans-serif;
      color: rgb(255, 255, 255);
      display: block;
      display: inline-block;
      
    
  }

  #start{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-size: larger;
    position: relative;
    bottom: 1px;
  }

  #pause{
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-size: larger;
    position: relative;
    bottom: 1px;
  }

  #update{ 
    background-color: rgb(255, 255, 255);
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    font-size: larger;
    position: relative;
    bottom: 1px;
    width: 300px;
  }

  .num{
    background-color:rgb(245, 234, 234);
    border: none;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
    font-size: larger;
    position: relative;
    bottom: 1px;
    right: 310px;

  }


